#main {
  background-image: url(../images/stars.jpg);
  background-repeat: round;
  max-width: 100%;
}

#main-content {
  font-family: cursive;
  text-align: center;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;  
  background-color: indigo;
  width: 80%;
  max-width: 80%;
  border: 1px solid white;
}

h1{
  color: white;
  font-family: cursive;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  color: white;
  background-color: black;
  border: 2px solid white;
  width: 64%;
  min-width: 20%;
  max-width: 64%;
}

th{
  border: 1px solid white;
}

#blank1{
  border: none;
}

#blank2{
  border: none;
}